/**********************************************
   [ Typography ]
/**********************************************/
body,
button,
input,
select,
textarea {
  color: $body-copy-black;
  font-family: $primary-font-family;
  font-size: 1em;
  font-weight: $primary-font-weight;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

a, a:focus, a:hover, a:visited {border-bottom:1px dashed $body-link-color; text-decoration: none;}
a, a:visited {color: $body-link-color;}
a:focus, a:hover {border-bottom:1px solid $body-link-hover-color; color: $body-link-hover-color; cursor: pointer;}

h1, h2, h3, h4 {color: $body-copy-black; line-height: 1;}

h2, h3, h4 {font-weight: $primary-font-weight;}

h1 {font-family:$header-font-family; font-size: 7em; font-weight: $header-font-weight;}

h2 {font-size: 3.5em;}

h3 {font-size: 2em;}

h4 {font-size: 1.7em;}

p, li {
  font-size: 1.7em;

  &:last-child{margin-bottom: 0;}
}

li{margin-bottom: 0.4em;}

p{margin-bottom: 1.5em;}

ul, ol,{margin-bottom: 1.5em; padding-left: 2em;}

ul{list-style-type: disc;}

b,
strong {font-weight: $bold-font-weight;}

em {font-style: italic;}



/**********************************************
   [ Buttons ]
/**********************************************/
.flat-btn {
  background: $body-link-color;
  color: #FFF;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;

  &:focus,
  &:active,
  &:hover,
  &:visited {color:#FFF;}

  &:hover{
    background: $body-link-hover-color;
    @include box-shadow( 0, 1px, 2px, rgba(0, 0, 0, 0.4) );
  }

  &.skeleton{
    background: $background;
    border:1px solid $body-emphasis-color;
    color: $body-emphasis-color;
  }

} /* END .flat-btn */



/**********************************************
   [ Forms ]
/**********************************************/
form {
  .error {color: #E54C4C;}
  .error-title {margin-bottom: 1em;}
}

input,
select,
textarea,
label {
  background-color: #FFF;
  border-radius: 0;
  font-size: 1.6em;
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0;
  max-width: 100%;
  vertical-align: baseline;
}

input,
textarea {
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)); /* Removing the inner shadow on iOS inputs */
  border: 1px solid #C1C1C1;
  color: #262626;
}

input:focus,
textarea:focus {
  background-color: #FFF;
  border: 1px solid $body-emphasis-color;
  color: #262626;
}

input:focus,
select:focus {
  outline: 2px solid #C1C1C1;
  outline: 2px solid rgba(51, 51, 51, 0.3);
}

button[disabled],
input[disabled],
select[disabled],
textarea[disabled] {
  cursor: default;
  opacity: .5;
}

input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  background-color: $body-link-color;
  border: 1px solid $body-link-color;
  color: #FFF;
  cursor: pointer;
  font-size:1.8em;
  font-weight:$primary-font-weight;
  padding: 0.74em 1.2em;
}

input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
  background-color: $body-link-hover-color;
  border-color: $body-link-hover-color;
  outline: 0;
}

input[type="search"] {-webkit-appearance: textfield;}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  padding: 0.74em;
  width: 100%;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {outline: 0;}

input[type="checkbox"],
input[type="radio"] {padding: 0;}


::-webkit-input-placeholder {color:#868686; color:rgba(86,86,86,0.7);} /* WebKit, Blink, Edge */
:-moz-placeholder {color:#868686; color:rgba(86,86,86,0.7); opacity:1;} /* Mozilla Firefox 4 to 18 */
::-moz-placeholder {color:#868686; color:rgba(86,86,86,0.7); opacity:1;} /* Mozilla Firefox 19+ */
:-ms-input-placeholder {color:#868686; color:rgba(86,86,86,0.7);} /* Internet Explorer 10-11 */


/**********************************************
   [ Header Navigation ]
/**********************************************/
.header-nav{
  text-align: right;

  .flat-btn, .points-of-contact{position: absolute;}

  .contact-cta{
    font-size: 1.4em;

    .flat-btn{
      right: 20px;
      top: 20px;
      z-index: 10;
    }
  }

  .points-of-contact{
    background: $background;
    bottom: 0;
    left: 0;
    margin: 0;
    opacity: 0;
    padding: 80px 20px 20px 20px;
    right: 0;
    top: 0;
    z-index: -5;

    @include transition(0.2s);

    &.active-navi{opacity: 1; z-index: 5;}

    .contact-point{
      margin-bottom: 0.5em;
      &.group-separator{margin-bottom: 1.5em;}
    }

    .title{font-weight: 500; margin-bottom: 0.6em;}
  } /* .points-of-contact */
}



/**********************************************
   [ Structure ]
/**********************************************/
.inner-container{
  margin:0 auto;
  max-width:850px;
  padding:20px;
}



/**********************************************
   [ Utilities ]
/**********************************************/
.clear-both {clear: both;}

.clear-fix:before,
.clear-fix:after {content: ""; display: table;}
.clear-fix:after{clear: both;}
.clear-fix{zoom: 1;} /* For IE 6/7 (trigger hasLayout) */

.center-copy {text-align: center;}
.no-wrap {white-space: nowrap;}

.overlay-no-scroll{overflow: hidden;}