@media (max-width: 650px), (max-height: 650px){

  body, html {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    height: 100%;
  } /* END body */

  .business-card {
    margin: auto;
    position: static;
  } /* END .business-card */

} /* END max-width or max-height: 650px */


@media (max-height: 245px){

  .business-card {
    border: none;
  } /* END .business-card */

} /* END max-height: 245px */