/* Fonts */
$primary-font-family: Helvetica, Arial, sans-serif;
$primary-font-weight: 100;
$bold-font-weight: 400;

/* Colors */
$body-copy-black: #000;
$body-copy-gray: #CCC;

$body-link-hover: #3BAEA0;
$body-link-black: $body-copy-black;
$body-link-gray: $body-copy-gray;