/* Fonts */
$primary-font-family: 'Roboto', Helvetica, Arial, sans-serif;
$primary-font-weight: 300;

$header-font-family: 'Roboto', Helvetica, Arial, sans-serif;
$header-font-weight: 900;

$bold-font-weight: 500;


/* Colors */
$background: #F6F7F9;
$background-gray: #D3D3D3;

$body-copy-black: #34313f;
$body-copy-gray: #3A3A3A;

$body-emphasis-color: #1A80D3;

$body-link-color: $body-emphasis-color;
$body-link-hover-color: #3399FF;